include README.md
include LICENSE.txt

# Dados usados em runtime
recursive-include src/biorempp/data *.csv *.txt

# Notebook essencial para demonstração
include notebooks/biorempp_demo.ipynb

# Exclui conteúdo não necessário
prune tests
prune docs
prune outputs
prune custom_outputs
prune .github
prune .venv
global-exclude *.pyc
global-exclude __pycache__
