include README.md
include LICENSE.txt

# Dados usados em runtime
recursive-include src/biorempp/data *.csv *.txt

# Notebooks essenciais - incluir todos os notebooks
recursive-include notebooks *.ipynb

# Exclui conteúdo não necessário
prune tests
prune docs
prune outputs
prune custom_outputs
prune .github
